#numbers-area {
  height: 100%;
}
#numbers-area .head-search-container .redis-col {
  text-align: right;
}
#numbers-area .head-search-container .redis-col mat-form-field {
  width: 250px;
}
#numbers-area .table-container {
  height: calc(100% - 130px);
}
#numbers-area .table-container span.linkSpan:hover {
  cursor: pointer;
  text-decoration: underline;
  color: #0097d4;
}
