#call-area > div {
  padding-top: 60px;
}
#call-area .body-search-container .container-input dl {
  margin-bottom: 0;
}
#call-area .body-search-container .container-input dl dt {
  text-align: right;
  float: left;
  clear: left;
  width: 30%;
  padding-top: 21px;
  padding-right: 15px;
  color: #333;
  font-size: 13px;
  font-weight: bold;
}
#call-area .body-search-container .container-input dl dd {
  margin-left: 30%;
  margin-right: 20%;
  margin-bottom: 0;
  padding-top: 5px;
}
#call-area .body-search-container .container-input dl dd .right-input {
  width: 500px;
  color: #000;
}
#call-area .body-search-container .container-input dl dd .headers-row {
  width: 530px;
}
#call-area .body-search-container .container-input dl dd .headers-row .header-input {
  width: 100%;
}
#call-area .body-search-container button.search-button {
  color: #fff;
  min-width: 40px;
  background-color: #0097d4;
  line-height: 34px;
  border-radius: 0;
  margin-top: 13px;
}
#call-area .body-search-container button.search-button:disabled {
  color: #fff;
  opacity: 0.8;
  background: #0097d4;
}
