<div class="index">
  <app-header></app-header>
  <div class="ec-body-container">
    <div class="ec-body-content">
      <app-side (setOpenSideValue)="getOpenSideValue($event)"></app-side>
      <div class="right-container px-3" [ngClass]="{right_fold: openSide==true,right_full:openSide==false}">
        <router-outlet></router-outlet>
        <!--<app-test></app-test>-->
      </div>
    </div>
  </div>
</div>

<!--<div>-->
  <!--<nav>-->
    <!--<h3>ngx-datatable-->
    <!--</h3>-->
    <!--<ul class="main-ul">-->
      <!--<li>-->
        <!--<h4>Documentation</h4>-->
        <!--<ul>-->
          <!--<li>-->
            <!--<a href="https://swimlane.gitbooks.io/ngx-datatable/content/" target="_black">Online</a>-->
          <!--</li>-->
          <!--<li>-->
            <!--<a href="https://www.gitbook.com/download/pdf/book/swimlane/ngx-datatable" target="_black">PDF</a>-->
          <!--</li>-->
        <!--</ul>-->
      <!--</li>-->
      <!--<li>-->
        <!--<h4>Basic</h4>-->
        <!--<ul>-->
          <!--<li><a href="#virtual-scroll" (click)="state='virtual-scroll'">10k Rows</a></li>-->
          <!--&lt;!&ndash;<li><a routerLink="/index/business/list">Full Screen</a></li>&ndash;&gt;-->
        <!--</ul>-->
      <!--</li>-->
    <!--</ul>-->
  <!--</nav>-->
  <!--<content>-->
     <!--Basic-->
    <!--<app-test></app-test>-->
    <!--&lt;!&ndash;<router-outlet></router-outlet>&ndash;&gt;-->
  <!--</content>-->
<!--</div>-->


