.action-list > div.table-card {
  position: relative;
}
.action-list > div.table-card .table {
  transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
  will-change: box-shadow;
  font-size: 12px;
  margin-bottom: 0 !important;
}
.action-list > div.table-card .table thead th {
  border-bottom: 1px solid #E1E6EB !important;
  background: #F5F6FA;
  color: #999;
  font-weight: normal;
}
.action-list > div.table-card .table thead th td {
  font-weight: normal;
  border: none;
  padding: 0.8rem;
  max-width: 150px;
}
.action-list > div.table-card .table tbody {
  font-weight: normal;
}
.action-list > div.table-card .table tbody tr:nth-child(even) {
  background: #FFFFFF;
}
.action-list > div.table-card .table tbody tr:nth-child(odd) {
  background: #F9FAFB;
}
.action-list > div.table-card .table tbody tr {
  background: #fff;
}
.action-list > div.table-card .table tbody tr td {
  color: #58666E;
  border: none;
  height: 30px;
  line-height: 30px;
  max-width: 150px;
  cursor: move;
}
.action-list > div.table-card .table tbody tr td:nth-child(4) {
  max-width: 150px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.action-list > div.table-card .table tbody tr td:nth-child(4):hover {
  overflow: auto;
  white-space: normal;
  text-overflow: clip;
}
.table > thead > tr > th:first-child,
.table > tbody > tr > th:first-child,
.table > tfoot > tr > th:first-child,
.table > thead > tr > td:first-child,
.table > tbody > tr > td:first-child,
.table > tfoot > tr > td:first-child {
  padding-left: 30px;
}
