<div id="add-action-dialog" class="redefine-dialog">
  <form [formGroup]="targetForm" (ngSubmit)="add(data)">
    <h1 class="dialog-head">{{data?.id ? '编辑' : '新建'}}action</h1>
    <mat-form-field class="w-100">
      <mat-select name="type" [formControl]="targetForm.controls['type']"
                  [(ngModel)]="data.type" placeholder="类型" required>
        <mat-option *ngFor="let item of actionTypes" [value]="item.value">
          {{item.name}}
        </mat-option>
      </mat-select>
      <mat-error
        *ngIf="targetForm.controls['type'].touched && targetForm.controls['type'].hasError('required')">
        字段不能为空！
      </mat-error>
    </mat-form-field>
    <mat-form-field class="w-100">
      <input matInput type="text"
             name="property" [formControl]="targetForm.controls['property']"
             [(ngModel)]="data.property"
             (focus)="isFocus = 1"
             placeholder="属性" required>
      <button type="reset" mat-button *ngIf="data.property" matSuffix mat-icon-button aria-label="Clear" (click)="initParamsq()">
        <mat-icon class="clear-icon">clear</mat-icon>
      </button>
      <mat-error
        *ngIf="targetForm.controls['property'].touched && targetForm.controls['property'].hasError('required')">
        字段不能为空！
      </mat-error>
    </mat-form-field>

    <div *ngIf="data.type === 1 && isFocus === 1" class="row easyUsed">
      <div class="col-5">
        <mat-form-field class="w-100">
          <mat-select name="noop_nameType" [formControl]="targetForm.controls['noop_nameType']"
                      [(ngModel)]="noop.noop_nameType" placeholder="nameType">
            <mat-option *ngFor="let item of typesArr" [value]="item.value">
              {{item.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-5">
        <mat-form-field class="w-100">
          <input matInput type="text"
                 name="noop_name" [formControl]="targetForm.controls['noop_name']"
                 [(ngModel)]="noop.noop_name"
                 placeholder="name">
        </mat-form-field>
      </div>
      <div class="col-2 m-auto text-right">
        <mat-icon style="color: #3CB371" class="cancelMatIcon" (click)="mergeNoopProperty(noop)">check_circle</mat-icon>
      </div>
    </div>
    <div *ngIf="data.type === 2  && isFocus === 1" class="row easyUsed">
      <div class="col-3">
        <mat-form-field class="w-100">
          <input matInput type="text"
                 name="sv_name" [formControl]="targetForm.controls['sv_name']"
                 [(ngModel)]="set_var.sv_name"
                 placeholder="name">
        </mat-form-field>
      </div>
      <div class="col-3">
        <mat-form-field class="w-100">
          <input matInput type="text"
                 name="sv_value" [formControl]="targetForm.controls['sv_value']"
                 [(ngModel)]="set_var.sv_value"
                 placeholder="value">
        </mat-form-field>
      </div>
      <div class="col-3">
        <mat-form-field class="w-100">
          <mat-select name="sv_valueType" [formControl]="targetForm.controls['sv_valueType']"
                      [(ngModel)]="set_var.sv_valueType" placeholder="valueType">
            <mat-option *ngFor="let item of typesArr" [value]="item.value">
              {{item.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-3 m-auto text-right">
        <mat-icon style="color: #3CB371" class="cancelMatIcon" (click)="mergeProperty(set_var, 'sv')">check_circle</mat-icon>
      </div>
    </div>
    <div *ngIf="data.type === 3  && isFocus === 1" class="row easyUsed">
      <div class="col-5">
        <mat-form-field class="w-100">
          <input matInput type="text"
                 name="ap_value" [formControl]="targetForm.controls['ap_value']"
                 [(ngModel)]="add_prefix.ap_value"
                 placeholder="value">
        </mat-form-field>
      </div>
      <div class="col-5">
        <mat-form-field class="w-100">
          <mat-select name="ap_valueType" [formControl]="targetForm.controls['ap_valueType']"
                      [(ngModel)]="add_prefix.ap_valueType" placeholder="valueType">
            <mat-option *ngFor="let item of typesArr" [value]="item.value">
              {{item.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-2 m-auto text-right">
        <mat-icon style="color: #3CB371" class="cancelMatIcon" (click)="mergeV_VTProperty(add_prefix, 'ap')">check_circle</mat-icon>
      </div>
    </div>
    <div *ngIf="data.type === 6  && isFocus === 1" class="row easyUsed">
      <div class="col-3">
        <mat-form-field class="w-100">
          <input matInput type="text"
                 name="ah_name" [formControl]="targetForm.controls['ah_name']"
                 [(ngModel)]="add_header.ah_name"
                 placeholder="name">
        </mat-form-field>
      </div>
      <div class="col-3">
        <mat-form-field class="w-100">
          <input matInput type="text"
                 name="ah_value" [formControl]="targetForm.controls['ah_value']"
                 [(ngModel)]="add_header.ah_value"
                 placeholder="value">
        </mat-form-field>
      </div>
      <div class="col-3">
        <mat-form-field class="w-100">
          <mat-select name="ah_valueType" [formControl]="targetForm.controls['ah_valueType']"
                      [(ngModel)]="add_header.ah_valueType" placeholder="valueType">
            <mat-option *ngFor="let item of typesArr" [value]="item.value">
              {{item.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-3 m-auto text-right">
        <mat-icon style="color: #3CB371" class="cancelMatIcon" (click)="mergeProperty(add_header, 'ah')">check_circle</mat-icon>
      </div>
    </div>
    <div *ngIf="data.type === 7  && isFocus === 1" class="row easyUsed">
      <div class="col-5">
        <mat-form-field class="w-100">
          <mat-select name="rh_nameType" [formControl]="targetForm.controls['rh_nameType']"
                      [(ngModel)]="remove_header.rh_nameType" placeholder="nameType">
            <mat-option *ngFor="let item of typesArr" [value]="item.value">
              {{item.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-5">
        <mat-form-field class="w-100">
          <input matInput type="text"
                 name="rh_name" [formControl]="targetForm.controls['rh_name']"
                 [(ngModel)]="remove_header.rh_name"
                 placeholder="name">
        </mat-form-field>
      </div>
      <div class="col-2 m-auto text-right">
        <mat-icon style="color: #3CB371" class="cancelMatIcon" (click)="mergeRH_SDProperty(remove_header, 'rh')">check_circle</mat-icon>
      </div>
    </div>
    <div *ngIf="data.type === 9  && isFocus === 1" class="row easyUsed">
      <div class="col-5">
        <mat-form-field class="w-100">
          <input matInput type="text"
                 name="sc_value" [formControl]="targetForm.controls['sc_value']"
                 [(ngModel)]="set_clid.sc_value"
                 placeholder="value">
        </mat-form-field>
      </div>
      <div class="col-5">
        <mat-form-field class="w-100">
          <mat-select name="sc_valueType" [formControl]="targetForm.controls['sc_valueType']"
                      [(ngModel)]="set_clid.sc_valueType" placeholder="valueType">
            <mat-option *ngFor="let item of typesArr" [value]="item.value">
              {{item.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-2 m-auto text-right">
        <mat-icon style="color: #3CB371" class="cancelMatIcon" (click)="mergeV_VTProperty(set_clid, 'sc')">check_circle</mat-icon>
      </div>
    </div>
    <div *ngIf="data.type === 10  && isFocus === 1" class="row easyUsed">
      <div class="col-5">
        <mat-form-field class="w-100">
          <mat-select name="sd_nameType" [formControl]="targetForm.controls['sd_nameType']"
                      [(ngModel)]="set_dlg.sd_nameType" placeholder="nameType">
            <mat-option *ngFor="let item of typesArr" [value]="item.value">
              {{item.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-5">
        <mat-form-field class="w-100">
          <input matInput type="text"
                 name="sd_name" [formControl]="targetForm.controls['sd_name']"
                 [(ngModel)]="set_dlg.sd_name"
                 placeholder="name">
        </mat-form-field>
      </div>
      <div class="col-2 m-auto text-right">
        <mat-icon style="color: #3CB371" class="cancelMatIcon" (click)="mergeRH_SDProperty(set_dlg, 'sd')">check_circle</mat-icon>
      </div>
    </div>
    <div *ngIf="data.type === 11  && isFocus === 1" class="row easyUsed">
      <div class="col-3">
        <mat-form-field class="w-100">
          <input matInput type="text"
                 name="sct_name" [formControl]="targetForm.controls['sct_name']"
                 [(ngModel)]="set_cdr_tag.sct_name"
                 placeholder="name">
        </mat-form-field>
      </div>
      <div class="col-3">
        <mat-form-field class="w-100">
          <input matInput type="text"
                 name="sct_value" [formControl]="targetForm.controls['sct_value']"
                 [(ngModel)]="set_cdr_tag.sct_value"
                 placeholder="value">
        </mat-form-field>
      </div>
      <div class="col-3">
        <mat-form-field class="w-100">
          <mat-select name="sct_valueType" [formControl]="targetForm.controls['sct_valueType']"
                      [(ngModel)]="set_cdr_tag.sct_valueType" placeholder="valueType">
            <mat-option *ngFor="let item of typesArr" [value]="item.value">
              {{item.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-2 m-auto text-right">
        <mat-icon style="color: #3CB371" class="cancelMatIcon" (click)="mergeProperty(set_cdr_tag, 'sct')">check_circle</mat-icon>
      </div>
    </div>
    <div *ngIf="data.type === 12  && isFocus === 1" class="row easyUsed">
      <!--<div class="col-3">-->
        <!--<mat-form-field class="w-100">-->
          <!--<input matInput type="text"-->
                 <!--name="stt_name" [formControl]="targetForm.controls['stt_name']"-->
                 <!--[(ngModel)]="set_to_tel.stt_name"-->
                 <!--placeholder="name">-->
        <!--</mat-form-field>-->
      <!--</div>-->
      <div class="col-5">
        <mat-form-field class="w-100">
          <input matInput type="text"
                 name="stt_value" [formControl]="targetForm.controls['stt_value']"
                 [(ngModel)]="set_to_tel.stt_value"
                 placeholder="value">
        </mat-form-field>
      </div>
      <div class="col-5">
        <mat-form-field class="w-100">
          <mat-select name="stt_valueType" [formControl]="targetForm.controls['stt_valueType']"
                      [(ngModel)]="set_to_tel.stt_valueType" placeholder="valueType">
            <mat-option *ngFor="let item of typesArr" [value]="item.value">
              {{item.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-2 m-auto text-right">
        <mat-icon style="color: #3CB371" class="cancelMatIcon" (click)="mergeV_VTProperty(set_to_tel, 'stt')">check_circle</mat-icon>
      </div>
    </div>

    <mat-form-field class="w-100">
      <input matInput type="text"
             name="description" [formControl]="targetForm.controls['description']"
             [(ngModel)]="data.description"
             placeholder="描述">
    </mat-form-field>
    <div class="dialog-bottom" style="clear:both">
      <button mat-button type="button" class="cancel" (click)="dialogRef.close('cancel')">取消</button>
      <button mat-button type="submit" [disabled]="targetForm.invalid || disabled.value" class="sure">确定</button>
    </div>
  </form>
</div>
