<div id="system-inMinCostSetting-area">
    <div>
        <span class="linkSpan" (click)="appSettingTo('/index/numberCostSetting/inMinCostSetting')">呼入低消</span>
        <span class="linkSpan" (click)="appSettingTo('/index/numberCostSetting/numberFunctionSetting')">号码功能费</span>
        <span class="linkSpan" (click)="appSettingTo('/index/numberCostSetting/appFunctionSetting')">功能费</span>
    </div>
    <app-page-header [title]="'呼入低消'"></app-page-header>
    <div class="w-100">
        <span>客户</span>
        <span>{{appIdAndName.appId}}</span>
        <span>{{appIdAndName.appName}}</span>
    </div>
    <div class="h-100 position-relative">
        <div class="row head-search-container">
            <div class="col-3 container-input">
                <dl>
                    <dt>热线号码</dt>
                    <dd>
                        <mat-form-field class="right-input" [floatPlaceholder]="'never'">
                            <input matInput [(ngModel)]="params.hotline">
                        </mat-form-field>
                    </dd>
                </dl>
            </div>
            <div class="col-1 container-input">
                <button mat-button class="search-button" (click)="search()">搜索</button>
            </div>
            <div class="col-1 container-input">
                <button mat-button class="search-button" (click)="importNumberFromVlink()">同步</button>
            </div>
            <div class="col-7 container-input">
            </div>
            <div class="col-1 container-input">
                <dl>
                    <dt>呼入低消</dt>
                </dl>
            </div>
            <div class="col-2 container-input">
                <dl>
                    <dt>低消</dt>
                    <dd>
                        <mat-form-field class="right-input" [floatPlaceholder]="'never'">
                            <input matInput [(ngModel)]="updateInMinCostBatch.minCost">
                        </mat-form-field>
                    </dd>
                </dl>
            </div>
            <div class="col-3 container-input">
                <dl>
                    <dt>起始月份</dt>
                    <dd class="range-flatpickr">
                        <ng2-flatpickr [config]="startTimeOptions"></ng2-flatpickr>
                    </dd>
                </dl>
            </div>
            <div class="col-1 container-input">
                <button mat-button class="search-button" (click)="updateBatch()">批量修改</button>
            </div>
        </div>
        <div class="table-container w-100">
        <ngx-datatable class="material striped"
                       [rows]="inMinCostSettingData"
                       [headerHeight]="40"
                       [rowHeight]="40"
                       [footerHeight]="40"
                       [columnMode]="'force'"
                       [scrollbarH]="true">
            <ngx-datatable-column [name]="'资费ID'" [prop]="'id'"></ngx-datatable-column>
            <ngx-datatable-column [name]="'热线号码'" [prop]="'hotline'"></ngx-datatable-column>
            <ngx-datatable-column [name]="'低消'" [prop]="'minCost'"></ngx-datatable-column>
            <ngx-datatable-column [name]="'开始月份'">
                <ng-template let-row="row" let-rowIndex="rowIndex" let-value="value" ngx-datatable-cell-template>{{row?.startMonth | dateFormat:'YYYY-MM'}}</ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column>
                <ng-template let-row="row" ngx-datatable-cell-template>
                    <span class="linkSpan" (click)="updateInMinCost(row)">修改</span>
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-footer>
                <ng-template ngx-datatable-footer-template>
                    <app-pagination [pageParams]="params" [comTotalCount]="totalCount"
                                    (limitChange)="getLimit($event)"
                                    (pageParamsChange)="search()"></app-pagination>
                </ng-template>
            </ngx-datatable-footer>
        </ngx-datatable>
    </div>
    </div>
</div>