<div class="login">
  <!--1、头部-->
  <div class="login-topbar"  style="background: #10c4bb">
    <a href ='http://61.136.178.251/tmweb/(A(VjRoyp3j0wEkAAAANmJlMzc5ZjQtYTc4Mi00ZjM5LWJiYzUtMWQ0Yjg3N2Q2ZjEx-v0KpyJd5U4W9IT6wAX6ld_7XP01))/login.aspx' ><div class="logo"></div></a>
  </div>
  <!--2、body 部分-->
  <div class="bar" style="background: #10c4bb;">
    <div class="center">
      <div class="barpic" style="background: url(../../../assets/images/default-new.png) no-repeat;"></div>
      <div class="login-body">
        <div class="right-login">
          <div class="login-header">用户登录</div>
          <!--管理员登录-->
          <div class="attendant-login">
            <form #form="ngForm" (ngSubmit)="login(form.value)" role="form">
              <div class="login-text-group">
                <mat-select name="userType" [(ngModel)]="user.userType" placeholder="请选择用户类型">
                  <mat-option
                          *ngFor="let item of [{name:'管理员',value:'0'},{name:'教师',value:'1'},{name:'学生',value:'2'}]"
                          [value]="item?.value">
                    {{item?.name}}
                  </mat-option>
                </mat-select>
                <div *ngIf="!(user.userType)" class="help alert alert-danger">
                  请选择用户类型!
                </div>
              </div>
              <div class="login-text-group">
                <input class="login-text"
                       placeholder="用户账号"
                       required
                       name="userName"
                       [(ngModel)]="user.userName"
                       #userName="ngModel"
                       autocorrect="off" autocapitalize="off"
                       (keyup)="isWrite('userName')">
                <div *ngIf="!(userName.valid || userName.pristine || !isWriteObj.userName)" class="help alert alert-danger">
                  用户账号必填!
                </div>
              </div>
              <div class="login-text-group">
                <input class="login-text"
                       type="password"
                       placeholder="密码"
                       required
                       name="password"
                       [(ngModel)]="user.password"
                       #password="ngModel"
                       autocorrect="off" autocapitalize="off"
                       (keyup)="isWrite('password')">
                <div *ngIf="!(password.valid || password.pristine || !isWriteObj.password)" class="help alert alert-danger">
                  密码必填！
                </div>
              </div>
              <div class="login-text-group">
                <input class="code-input login-text"
                       type="text"
                       placeholder="验证码"
                       required
                       name="securityCode"
                       [(ngModel)]="user.securityCode"
                       #securityCode="ngModel"
                       autocorrect="off" autocapitalize="off"
                       (keyup)="isWrite('securityCode')">
                <img (click)="getCode()" class="code" [src]="codePath" [matTooltip]="'点击重新获取验证码'">
                <div *ngIf="!(securityCode.valid || securityCode.pristine || !isWriteObj.securityCode)" class="help alert alert-danger">
                  验证码必填！
                </div>
              </div>
              <button mat-button type="submit" [disabled]="!form.form.valid||trimCode()" class="login-button">
                登录
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--3、底部-->
  <div class="login-footer" style="background: #666f7b;">
  </div>
</div>


