<div id="system-courseList-area">
    <app-page-header [title]="'课程列表'"
                     [rightButtons]="[{ title: '新建', action: 'add'}]"
                     (tapRightBtn)="addCourse()"
                     [permission]="isPermission"></app-page-header>
    <div class="h-100 position-relative">
        <div  class="table-container w-100">
            <div class="row head-search-container">
                <div class="col-2 container-input">
                    <dl>
                        <dt>课程名:</dt>
                        <dd>
                            <mat-form-field class="right-input" [floatPlaceholder]="'never'">
                                <input matInput placeholder="请输入" [(ngModel)]="params.cName">
                            </mat-form-field>
                        </dd>
                    </dl>
                </div>
                <div class="col-2 container-input">
                    <dl>
                        <dt>课程类型:</dt>
                        <dd>
                            <mat-form-field class="right-input" [floatPlaceholder]="'never'">
                                <mat-select [(ngModel)]="params.cType" placeholder="请选择">
                                    <mat-option *ngFor="let item of [{name:'全部',value:10},{name:'必修',value:0},{name:'选修',value:1}]" [value]="item?.value">
                                        {{item?.name}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </dd>
                    </dl>
                </div>
                <div class="col-2 container-input">
                    <dl>
                        <dt>课程教师:</dt>
                        <dd>
                            <mat-form-field class="right-input" [floatPlaceholder]="'never'">
                                <mat-select [(ngModel)]="params.tId" placeholder="请选择">
                                    <mat-option *ngFor="let item of teacherIdList" [value]="item?.tId">
                                        {{item?.tName}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </dd>
                    </dl>
                </div>
                <div class="col-3">
                    <button mat-button class="search-button" (click)="reloadCourseListData()">搜索</button>
                </div>
            </div>
            <ngx-datatable class="material striped"
                           [rows]="courseListData"
                           [headerHeight]="40"
                           [footerHeight]="40"
                           [rowHeight]="40"
                           [columnMode]="'force'"
                           [scrollbarH]="true"
                           [limit]="params.limit">
                <ngx-datatable-column *ngIf="isStudent == 1" [name]="'选课状态'">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        <input *ngIf="courseChecked(row.cId)" (click)="choseCourse($event,row)" type="checkbox" class="container-input" checked/>
                        <input *ngIf="courseUnChecked(row.cId)" (click)="choseCourse($event,row)" type="checkbox" class="container-input"/>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column [name]="'编号'" [prop]="'cId'"></ngx-datatable-column>
                <ngx-datatable-column [name]="'名称'" [prop]="'cName'"></ngx-datatable-column>
                <ngx-datatable-column [name]="'教师'" [prop]="'cTeacher'"></ngx-datatable-column>
                <ngx-datatable-column [name]="'上课时间'" [prop]="'cTime'"></ngx-datatable-column>
                <ngx-datatable-column [name]="'类型'" [prop]="'cTypeDec'"></ngx-datatable-column>
                <ngx-datatable-column [name]="'学时'" [prop]="'cHour'"></ngx-datatable-column>
                <ngx-datatable-column [name]="'学分'" [prop]="'cMark'"></ngx-datatable-column>
                <ngx-datatable-column [name]="'已选人数'" [prop]="'cChosed'"></ngx-datatable-column>
                <ngx-datatable-column [name]="'总人数'" [prop]="'cTotal'"></ngx-datatable-column>
                <ngx-datatable-column [name]="'创建时间'" [prop]="'createTime'">
                    <ng-template let-row="row" ngx-datatable-cell-template>{{row?.createTime | dateFormat:'YYYY-MM-DD HH:mm:ss'}}</ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column *ngIf="canDelete == 1" [name]="'操作'">
                    <ng-template let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template >
                        <span  class="linkSpan" (click)="deleteCourse(row)">删除</span>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-footer>
                    <ng-template ngx-datatable-footer-template>
                        <app-pagination [pageParams]="params" [comTotalCount]="totalCount"
                                        (limitChange)="getLimit($event)"
                                        (pageParamsChange)="reloadCourseListData()"></app-pagination>
                    </ng-template>
                </ngx-datatable-footer>
            </ngx-datatable>
        </div>
        <app-loading *ngIf="isSpinner === 1" [top]="'258px'"></app-loading>
        <app-empty-data *ngIf="isPermission === 0"></app-empty-data>
    </div>
</div>
