<div id="system-directDepartmentManage-area">
  <app-page-header [title]="'直销部门管理'"
                   [rightButtons]="[{ title: '新建', action: 'add'}]"
                   (tapRightBtn)="onClickBtnWithAction($event)"
                   [permission]="isPermission"></app-page-header>
  <div *ngIf="isPermission === 1" class="pt-3 table-container w-100">
    <ngx-datatable class="material striped"
                   [loadingIndicator]="loadingIndicator"
                   [rows]="sysDepartmentData"
                   [headerHeight]="40"
                   [footerHeight]="40"
                   [rowHeight]="40"
                   [columnMode]="'force'"
                   [scrollbarH]="true"
                   [limit]="params.limit">
      <ngx-datatable-column [name]="'直销部门名称'" [prop]="'fullName'" ></ngx-datatable-column>
      <ngx-datatable-column [name]="'直销经理数'" [prop]="'managerNum'" ></ngx-datatable-column>
      <ngx-datatable-column [name]="'企业数'" [prop]="'customerNum'" ></ngx-datatable-column>
      <ngx-datatable-column [name]="'应用数'" [prop]="'appNum'"></ngx-datatable-column>
      <ngx-datatable-column [name]="'操作'">
        <ng-template let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
        <span [matMenuTriggerFor]="menu" style="cursor: pointer">
          <mat-icon class="md-24" style="font-size: 16px;">more_vert</mat-icon>
        </span>
          <mat-menu #menu="matMenu">
            <button mat-menu-item *ngFor="let item of [{name:'编辑',value:0},{name:'删除',value:1}]"
                    [value]="item.value" (click)="operateButton(item.value, row)">{{item.name}}</button>
          </mat-menu>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-footer>
        <ng-template ngx-datatable-footer-template>
          <app-pagination [pageParams]="params" [comTotalCount]="totalCount"
                          (limitChange)="getLimit($event)"
                          (pageParamsChange)="reloadSysProductCount($event)"></app-pagination>
        </ng-template>
      </ngx-datatable-footer>
    </ngx-datatable>
  </div>
  <app-loading  *ngIf="isSpinner === 1" [top]="'258px'"></app-loading>
  <app-empty-data *ngIf="isPermission === 0"></app-empty-data>
</div>
