.second-menu {
  position: fixed;
  z-index: 1;
  top: 40px;
  width: 180px;
  height: 100%;
  background: #EAEDF1;
  -webkit-transition: all 0.2s ease;
}
.second-menu .head {
  height: 70px;
  line-height: 70px;
  background: #D9DEE4;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 13px;
  color: #333;
  font-weight: bold;
  text-indent: 20px;
}
.second-menu .menu-list {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
.second-menu .menu-list li {
  height: 40px;
  line-height: 40px;
  padding-left: 30px;
  cursor: pointer;
}
.second-menu .menu-list li > a {
  display: block;
  height: 100%;
  width: 100%;
  color: #333;
  font-size: 13px;
  text-decoration: none;
}
.second-menu .menu-list li:hover {
  background: #F5F6FA !important;
}
.second-menu .menu-list .active {
  background: #fff !important;
}
.second-menu .menu-list .active:hover {
  background: #fff !important;
}
.hidden {
  left: -180px !important;
}
.hiddenNav {
  left: -20px !important;
}
.navbar-col {
  position: fixed;
  z-index: 1;
  top: 50%;
  width: 20px;
  height: 50px;
  -webkit-transition: all 0.2s ease;
}
.navbar-col .navbar-bg {
  position: absolute;
  width: 0;
  height: 50px;
  right: 0px;
  border-bottom: 9px solid transparent;
  border-left: none;
  border-right: 13px solid #f7f7f7;
  border-top: 9px solid transparent;
  -webkit-transition: all 0.1s ease, 0.1s ease;
}
.navbar-col .navbar-col-inner {
  position: relative;
  width: 20px;
  height: 50px;
  overflow: hidden;
  left: auto;
  text-align: center;
  cursor: pointer;
  -webkit-transition: all 0.1s ease, 0.1s ease;
}
.navbar-col .navbar-col-inner .nav-icon {
  color: #546478 !important;
  font-size: 15px;
  line-height: 50px;
  margin-left: 4px;
}
.navbar-col:hover .navbar-bg {
  border-right: 20px solid #f7f7f7 !important;
}
.navbar-col:hover .nav-icon {
  margin-left: 0px !important;
}
.navbar-col-show {
  position: fixed;
  z-index: 1;
  top: 50%;
  width: 20px;
  height: 50px;
  -webkit-transition: all 0.2s ease;
}
.navbar-col-show .navbar-open-bg {
  position: absolute;
  width: 0;
  height: 50px;
  left: 0;
  top: 0;
  border-bottom: 9px solid transparent;
  border-left: none;
  border-left: 13px solid #D9DEE4;
  border-top: 9px solid transparent;
  -webkit-transition: all 0.1s ease, 0.1s ease;
}
.navbar-col-show .navbar-col-inner {
  position: relative;
  height: 50px;
  left: -7px;
  text-align: center;
  cursor: pointer;
  -webkit-transition: all 0.1s ease, 0.1s ease;
}
.navbar-col-show .navbar-col-inner .nav-icon {
  color: #546478 !important;
  font-size: 15px;
  line-height: 50px;
}
.navbar-col-show:hover .navbar-open-bg {
  border-left: 20px solid #D9DEE4 !important;
}
.navbar-col-show:hover .navbar-col-inner {
  left: 0px !important;
}
.showNev {
  left: 180px;
}
