#manage-list-area {
  height: 100%;
}
#manage-list-area .table-container {
  height: calc(100% - 130px);
}
#manage-groups-area {
  height: 100%;
  position: relative;
}
#manage-groups-area .table-container {
  height: calc(100% - 70px);
}
