<div id="business-list-area">
  <app-page-header [title]="'业务列表'"
                   [rightButtons]="[{ title: '新建', action: 'add'}]"
                   (tapRightBtn)="onClickBtnWithAction($event)"></app-page-header>
  <div *ngIf="isPermission === 1" class="h-100">
    <div class="row head-search-container">
      <div class="col-2 container-input">
        <dl>
          <dt>产品:</dt>
          <dd>
            <mat-form-field class="right-input" [floatPlaceholder]="'never'">
              <mat-select [(ngModel)]="params.productId" placeholder="请选择">
                <mat-option  [value]="''">全部</mat-option>
                <mat-option *ngFor="let item of productIdArr" [value]="item.id">
                  {{item.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </dd>
        </dl>
      </div>
      <div class="col-2 container-input">
        <dl>
          <dt>平台:</dt>
          <dd>
            <mat-form-field class="right-input" [floatPlaceholder]="'never'">
              <mat-select [(ngModel)]="params.domainId" placeholder="请选择">
                <mat-option  [value]="''">全部</mat-option>
                <mat-option *ngFor="let item of domainIdArr" [value]="item.id">
                  {{item.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </dd>
        </dl>
      </div>
      <div class="col-2 container-input">
        <dl>
          <dt>前缀:</dt>
          <dd>
            <mat-form-field class="right-input" [floatPlaceholder]="'never'">
              <input matInput placeholder="请输入" [(ngModel)]="params.prefix">
            </mat-form-field>
          </dd>
        </dl>
      </div>
      <div class="col-2 container-input">
        <dl>
          <dt>描述:</dt>
          <dd>
            <mat-form-field class="right-input" [floatPlaceholder]="'never'">
              <input matInput placeholder="请输入" [(ngModel)]="params.description">
            </mat-form-field>
          </dd>
        </dl>
      </div>
      <div class="col-4">
        <button mat-button class="search-button" (click)="search()">搜索</button>
      </div>
    </div>
    <div class="table-container">
      <ngx-datatable class="material striped"
                     [loadingIndicator]="loadingIndicator"
                     [rows]="businessList"
                     [headerHeight]="40"
                     [footerHeight]="40"
                     [rowHeight]="40"
                     [scrollbarH]="true"
                     [columnMode]="'force'"
                     [limit]="params.pageSize">
        <ngx-datatable-column name="业务ID" prop="id"></ngx-datatable-column>
        <ngx-datatable-column name="业务名称" prop="name" [width]="300"></ngx-datatable-column>
        <ngx-datatable-column name="前缀" prop="prefix"></ngx-datatable-column>
        <ngx-datatable-column name="平台" prop="domain.name"></ngx-datatable-column>
        <ngx-datatable-column name="产品名称" prop="domain.product.name"></ngx-datatable-column>
        <ngx-datatable-column name="描述" prop="description" [width]="400"></ngx-datatable-column>
        <ngx-datatable-column name="是否激活" prop="activeName"></ngx-datatable-column>
        <ngx-datatable-column name="创建时间" [width]="300">
          <ng-template let-row="row" ngx-datatable-cell-template>{{row?.createTime | dateFormat:'YYYY-MM-DD HH:mm:ss'}}</ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="操作">
          <ng-template let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
        <span [matMenuTriggerFor]="menu" style="cursor: pointer">
          <mat-icon class="md-24" style="font-size: 16px;">more_vert</mat-icon>
        </span>
            <mat-menu #menu="matMenu">
              <button mat-menu-item *ngFor="let item of [{name:'编辑', value:0},{name:'删除', value: 1},{name:'业务路由', value: 2}]"
                      (click)="operateButton(item.value,row,rowIndex)">{{item.name}}</button>
            </mat-menu>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-footer>
          <ng-template ngx-datatable-footer-template>
            <app-pagination [pageParams]="params" [comTotalCount]="totalCount"
                            (limitChange)="getLimit($event)"
                            (pageParamsChange)="reloadBusinessListCount($event)"></app-pagination>
          </ng-template>
        </ngx-datatable-footer>
      </ngx-datatable>
    </div>
  </div>
  <app-loading  *ngIf="isSpinner === 1" [top]="'258px'"></app-loading>
  <app-empty-data *ngIf="isPermission === 0"></app-empty-data>
</div>
