/*
 * Material Colors
 */
/* Bootstrap Branding */
/*
 * Colors
 */
/*
 * Blocks
 */
/*
 * Font Icon Family
 */
/*
 * CSS Transform - Scale and Rotate
 */
/*
 * Pop-in Hover effects
 */
/*
 * Scale 3d
 */
/*select框长度*/
.select-80px .mat-select {
  width: 80px !important;
}
.select-80px .mat-select .mat-select-trigger {
  width: 80px !important;
  min-width: 80px !important;
}
.select-120px .mat-select {
  width: 120px !important;
}
.select-120px .mat-select .mat-select-trigger {
  width: 120px !important;
  min-width: 120px !important;
}
/*------end------*/
.search_label {
  font-weight: normal;
  font-size: 13px;
  color: #999;
  display: inline-block;
  position: relative;
  top: 5px;
}
.addKey {
  float: right;
  margin-top: 4px;
}
/*按钮的大小*/
.add-button {
  height: 30px !important;
  width: 30px !important;
  padding-right: 2px !important;
  outline: none !important;
  line-height: 30px !important;
}
.add-button .inner-icon {
  height: 20px;
  width: 20px;
  font-size: 20px;
  line-height: 19px !important;
  color: #333 !important;
  margin-left: 3px;
}
.add-button:hover {
  background: #ccc;
}
/*------end------*/
/*头部样式*/
.main-content {
  padding: 0 20px;
}
.manage-head {
  border-bottom: 1px solid #DDD;
  padding: 16px 0;
  min-height: 70px;
  font-size: 12px;
}
.manage-head > h5 {
  margin-top: 8px;
  margin-bottom: 8px;
  display: inline-block;
  text-indent: 8px;
  border-left: 2px solid #88B7E0;
  vertical-align: top;
  font-size: 15px !important;
}
/*------end------*/
/*分页布局样式*/
.bottom-page {
  min-height: 36px;
  margin-bottom: 16px;
}
.bottom-page .pageLimit {
  min-width: 36px !important;
  padding: 0 10px !important;
  line-height: 34px !important;
  font-weight: normal !important;
  box-shadow: none !important;
  border: 1px solid #ddd !important;
}
.bottom-page .page-item .active {
  background-color: #607794;
  border-color: #607794;
}
.bottom-page .pagination-sm .page-link {
  padding: 8px 10px;
  font-size: 0.875rem;
}
.bottom-page .pagination {
  float: right;
}
.bottom-page .skip {
  display: inline-block;
  margin-right: 8px;
}
.bottom-page .skip button {
  height: 34px !important;
}
/*------end------*/
/*checkbox样式*/
.mat-checkbox-layout .mat-checkbox-inner-container {
  width: 16px ;
  height: 16px ;
}
.mat-checkbox-background svg {
  width: 16px;
  height: 16px;
}
/*------end------*/
/*select框样式*/
.role-select .mat-select-trigger {
  font-size: 12px;
}
.role-select .mat-select-underline {
  height: 0px !important;
}
.select-font .mat-select-trigger {
  font-size: 13px;
}
.depart-select .mat-select-trigger {
  font-size: 13px;
  width: 303px !important;
}
/*-----end----*/
.mat-dialog-container {
  max-height: 600px !important;
  overflow-y: auto !important;
}
button:focus {
  outline: none;
}
/*select框样式*/
.search-select .mat-form-field {
  width: 100%;
}
.mat-form-field-underline {
  background-color: rgba(0, 0, 0, 0.12);
}
/*------end------*/
/*模态框表单样式*/
.info-block {
  height: 58px;
}
.info-block .block-item .block-label {
  float: left;
  width: 145px;
  text-align: right;
  font-size: 14px;
  position: relative;
  top: 4px;
}
.info-block .block-select {
  width: 55%;
  display: inline-block;
  margin-left: 10px;
  margin-top: -6px;
}
.info-block .block-select .block-select-field {
  width: 100%;
}
.info-block .block-radio {
  width: 55%;
  display: inline-block;
  margin-left: 10px;
  margin-top: 5px;
}
.info-block .block-radio .mat-radio-button {
  margin-right: 10px;
}
.info-block .block-textarea {
  width: 55%;
  height: 60px;
  padding: 5px 10px;
  margin-left: 10px;
}
.info-block .block-input {
  width: 55%;
  height: 28px;
  line-height: 30px;
  border: none;
  font-weight: normal;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}
.info-block .block-input:focus {
  outline: none;
}
/*--------end---------*/
.label {
  display: inline-block !important;
  padding: 0;
  font-size: 12px;
  font-weight: normal;
  line-height: 1;
  color: #777 !important;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
}
.page-item.active .page-link {
  background-color: #0275d8;
  border-color: #0275d8;
}
/**入场 timePicker样式修改**/
#enter-list-area timepicker {
  margin-top: -10px;
  width: 120px;
}
#enter-list-area timepicker tr:first-child .btn {
  padding: 0;
  vertical-align: bottom;
}
#enter-list-area timepicker tr:last-child .btn {
  padding: 0;
  vertical-align: top;
}
/**table样式重置**/
ngx-datatable {
  height: 100%;
}
ngx-datatable .visible {
  height: 100%;
}
ngx-datatable .visible .datatable-header {
  width: 100% !important;
}
ngx-datatable .visible .datatable-body {
  height: calc(100% - 80px) !important;
  width: 100% !important;
}
ngx-datatable .visible .datatable-footer app-pagination ul.pagination {
  margin-bottom: 0;
}
/**table中 操作按钮 menu样式重置**/
.cdk-overlay-container .mat-menu-panel {
  min-width: 100px;
}
.cdk-overlay-container .mat-menu-panel .mat-menu-content {
  padding: 0;
}
.cdk-overlay-container button.mat-menu-item {
  height: 35px;
  line-height: 35px;
  font-size: 14px;
  text-align: center;
}
/**ngx-datatable样式重置**/
.ngx-datatable.material.striped .datatable-row-odd {
  background: #F9FAFB !important;
}
.ngx-datatable.material {
  box-shadow: none !important;
  border-top: 1px solid #eceeef !important;
}
.ngx-datatable.material .datatable-header {
  border-bottom: 1px solid #eceeef !important;
  background: #F5F6FA !important;
}
.ngx-datatable.material .datatable-header .datatable-header-cell {
  text-align: center !important;
  color: #999999 !important;
  font-weight: normal !important;
}
.ngx-datatable.material .datatable-header .resize-handle {
  border-right: 1px solid #ddd;
}
.ngx-datatable.material .datatable-body .datatable-body-row .datatable-body-cell {
  text-align: center !important;
  color: #58666E !important;
  font-size: 12px !important;
}
.ngx-datatable.material .datatable-body .datatable-body-row .datatable-body-cell .datatable-body-cell-label:hover {
  overflow-x: auto;
}
@media (min-width: 0px) {
  .ngx-datatable.material .datatable-body .progress-linear .container {
    max-width: none !important;
  }
}
.ngx-datatable.material .datatable-footer {
  color: #333333 !important;
}
.datatable-checkbox {
  padding: 0 !important;
}
/**end**/
.mat-progress-spinner circle,
.mat-spinner circle {
  stroke: #ccc !important;
}
