#tool-phone-area {
  height: 100%;
}
#tool-phone-area .table-container {
  height: calc(100% - 195px);
}
#tool-phone-area .table-container span.linkSpan:hover {
  cursor: pointer;
  text-decoration: underline;
  color: #0097d4;
}
