/*
 * CSS Transform - Scale and Rotate
 */
/*
 * Pop-in Hover effects
 */
/*
 * Scale 3d
 */
/*
 * Material Colors
 */
/* Bootstrap Branding */
/*
 * Colors
 */
/*
 * Blocks
 */
/*
 * Font Icon Family
 */
*,
:after,
:before {
  box-sizing: border-box;
  margin: 0;
  outline: none;
}
html {
  font-family: Microsoft YaHei, Helvetica Neue, Helvetica, Arial, Hiragino Sans GB, sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  height: 100%;
  /*html的font-size转化为20px，设置了基本的rem之后，以后就可以用rem进行长度设定了*/
  font-size: 10px;
}
body {
  background-color: #fff;
  color: #333;
  font-family: Microsoft YaHei, Helvetica Neue, Helvetica, Arial, Hiragino Sans GB, sans-serif;
  height: 100%;
  margin: 0;
}
a {
  color: #333;
  text-decoration: none;
  cursor: pointer;
}
.svg-size-16 {
  width: 16px !important;
  height: 16px !important;
}
.btn-size-20 {
  width: 20px !important;
  height: 20px !important;
}
md-icon svg {
  width: 100%;
  height: 100%;
}
.fill-adadad {
  fill: #adadad !important;
}
/*angular/meterial fonts config*/
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(/public/fonts/MaterialIcons-Regular.eot);
  /* For IE6-8 */
  src: local('Material Icons'), local('MaterialIcons-Regular'), url(/public/fonts/MaterialIcons-Regular.woff2) format('woff2'), url(/public/fonts/MaterialIcons-Regular.woff) format('woff'), url(/public/fonts/MaterialIcons-Regular.ttf) format('truetype');
}
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga';
}
.mat-form-field-placeholder {
  top: 1.3em;
}
.table-striped > thead > tr > th {
  border-bottom: 2px solid #ebebeb;
  border-top: none;
}
.table-striped > tbody > tr:nth-child(even) > td,
.table-striped > tbody > tr:nth-child(even) > th {
  background-color: #f9fafb;
}
.table-striped > tbody > tr:nth-child(odd) > td,
.table-striped > tbody > tr:nth-child(odd) > th {
  background-color: #fff;
}
/*表单输入错误提示样式*/
.help {
  margin-top: -8px;
  font-size: 1.2rem;
  line-height: 8px;
  color: red;
}
.alert {
  padding: 0.5rem 0;
}
.alert-danger {
  background: none;
  border: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-weight: normal;
}
/*警告框样式*/
.swal2-modal,
.swal2-show {
  min-height: 282px !important;
}
.swal2-modal .swal2-title {
  font-size: 16px !important;
}
.swal2-modal .swal2-content {
  font-size: 13px !important;
}
.swal2-modal .swal2-spacer {
  height: 0 !important;
}
.swal2-modal .swal2-styled {
  padding: 6px 12px !important;
  font-size: 13px !important;
}
.swal2-modal .swal2-styled:focus {
  box-shadow: none;
}
/* 页面中顶部搜索区域 */
.head-search-container {
  /*页面右侧顶部的select（除组件之外）*/
}
.head-search-container .container-select dl,
.head-search-container .container-input dl {
  margin-bottom: 0;
}
.head-search-container .container-select dl dt,
.head-search-container .container-input dl dt {
  text-align: right;
  float: left;
  clear: left;
  width: 70px;
  padding-top: 21px;
  padding-right: 5px;
  color: #797979;
  font-size: 13px;
  font-weight: normal;
}
.head-search-container .container-select dl dd,
.head-search-container .container-input dl dd {
  margin-left: 70px;
  margin-bottom: 0;
  padding-top: 5px;
}
.head-search-container .container-select dl dd .right-select,
.head-search-container .container-input dl dd .right-select {
  padding-top: 0;
  width: 100%;
}
.head-search-container .container-select dl dd .right-input,
.head-search-container .container-input dl dd .right-input {
  width: 100%;
  color: #000;
}
.head-search-container button.search-button {
  color: #fff;
  min-width: 40px;
  background-color: #0097d4;
  line-height: 28px;
  border-radius: 3px;
  margin-top: 16px;
  font-size: 12px;
}
.redefine-dialog {
  position: relative;
}
.redefine-dialog .add-icon {
  position: absolute;
  top: 0;
  right: 0;
  color: #999999;
  cursor: pointer;
}
.redefine-dialog .dialog-head {
  color: #000;
  font-size: 17px;
  margin-bottom: 20px;
}
.redefine-dialog .dialog-bottom {
  margin-top: 10px;
  text-align: right;
  font-size: 15px;
}
.redefine-dialog .dialog-bottom button {
  height: 34px;
  line-height: 34px;
  margin-left: 5px;
}
.redefine-dialog .dialog-bottom button:disabled {
  color: #fff;
  opacity: 0.6;
  background: #0097d4;
}
.redefine-dialog .dialog-bottom .sure {
  color: #fff;
  background: #0097d4;
}
.redefine-dialog .dialog-bottom .cancel {
  background: #fff;
  color: #7c7c7c;
}
.redefine-dialog .difineError {
  position: absolute;
  bottom: -5px;
  color: red !important;
}
#page-header {
  height: 58px;
  background: #fff;
  min-height: 50px;
  padding: 1rem 0;
  border-bottom: 1px solid #ddd;
  position: relative;
}
#page-header .page-header-title {
  color: #333;
  font-size: 15px;
  font-weight: 400;
  margin-left: 8px;
}
#page-header .page-header-title::before {
  content: "";
  display: inline-block;
  width: 2px;
  height: 17px;
  position: relative;
  left: -8px;
  top: 3px;
  background: #88B7E0;
}
#page-header .right-buttons {
  display: flex;
}
#page-header .right-buttons button {
  color: #fff;
  min-width: 60px;
  padding: 0 10px;
  width: auto;
  background-color: #0097d4;
  /*@app-amber*/
  line-height: 32px;
  border-radius: 0;
  margin-left: 10px;
}
#page-header .left-buttons {
  position: absolute;
  left: 80px;
  top: 9px;
}
#page-header .left-buttons mat-icon {
  cursor: pointer;
  color: #0097d4;
  font-size: 20px;
}
.fill-remaining {
  flex: 1 1 auto;
}
/**ng2-flatpickr样式**/
ng2-flatpickr .ng2-flatpickr-input-container .ng2-flatpickr-input {
  width: 100%;
  padding: 15px 5px 2px 5px;
  border: none;
  border-bottom: 1px solid #ddd;
}
/**业务路由dialog中ng2-flatpicker样式**/
#business-router-dialog ng2-flatpickr .ng2-flatpickr-input-container {
  width: 100%;
}
#business-router-dialog ng2-flatpickr .ng2-flatpickr-input-container .ng2-flatpickr-input {
  padding: 0;
}
/**选择 日期范围时的样式**/
.range-flatpickr ng2-flatpickr .ng2-flatpickr-input-container {
  width: calc(50% - 12px);
  display: inline-block;
}
/**table中 编辑 删除 等图标的样式**/
.editMatIcon {
  display: inline-block;
  background: url(/src/assets/images/words_edit.svg) no-repeat center center;
  width: 14px;
  height: 14px;
  position: relative;
  top: 1px;
  cursor: pointer;
  margin-right: 5px;
}
.cancelMatIcon {
  vertical-align: middle;
  color: #999999;
  font-size: 19px;
  cursor: pointer;
}
/**所有二级菜单 路由跳转页的样式**/
#second-menu-route {
  height: 100%;
  position: relative;
  padding-left: 180px;
  -webkit-transition: all 0.2s ease;
}
.hidden_menu {
  padding-left: 5px !important;
}
/**报表部分 右下角总计展示 样式**/
.report-summary {
  z-index: 10;
  position: absolute;
  right: 0;
  height: 10px;
}
/**全浏览器通用的clearfix方案,:before以解决现代浏览器上边距折叠的问题**/
