<div id="alertInfo-area">
  <app-page-header [title]="'告警信息'"
                   [rightButtons]="[{ title: '新建', action: 'add'}]"
                   (tapRightBtn)="onClickBtnWithAction($event)"></app-page-header>
  <div class="row head-search-container">
    <div class="col-2 container-select">
      <dl>
        <dt>告警级别:</dt>
        <dd>
          <mat-form-field class="right-select" floatPlaceholder="never">
            <mat-select placeholder="请选择" [(ngModel)]="params.level">
              <mat-option [value]="''">全部</mat-option>
              <mat-option *ngFor="let item of [{name: '警告', value: 1}, {name: '错误', value: 2}]" [value]="item.value">
                {{item.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </dd>
      </dl>
    </div>
    <div class="col-2 container-select">
      <dl>
        <dt>告警类别:</dt>
        <dd>
          <mat-form-field class="right-select" floatPlaceholder="never">
            <mat-select placeholder="请选择" [(ngModel)]="params.type">
              <mat-option [value]="''">全部</mat-option>
              <mat-option *ngFor="let item of [{name: '系统', value: 1}, {name: '业务', value: 2}, {name: '自定义', value: 3}]" [value]="item.value">
                {{item.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </dd>
      </dl>
    </div>
    <div class="col-2 container-input">
      <dl>
        <dt>告警消息:</dt>
        <dd>
          <mat-form-field class="right-input" [floatPlaceholder]="'never'">
            <input matInput placeholder="请输入" [(ngModel)]="params.msg">
          </mat-form-field>
        </dd>
      </dl>
    </div>
    <div class="col-2 container-select">
      <dl>
        <dt style="width: 74px">是否已处理:</dt>
        <dd style="margin-left: 74px">
          <mat-form-field class="right-select" floatPlaceholder="never">
            <mat-select placeholder="请选择" [(ngModel)]="params.ack">
              <mat-option [value]="''">全部</mat-option>
              <mat-option *ngFor="let item of [{name: '已处理', value: 1}, {name: '未处理', value: 0}, {name: '自定义', value: 3}]" [value]="item.value">
                {{item.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </dd>
      </dl>
    </div>
    <div class="col-4">
      <button mat-button class="search-button" (click)="search()">搜索</button>
    </div>
  </div>
  <div class="table-container w-100">
    <ngx-datatable class="material striped"
                   [loadingIndicator]="loadingIndicator"
                   *ngIf="isEmpty === 0"
                   [scrollbarH]="true"
                   [rows]="alertInfo"
                   [headerHeight]="40"
                   [footerHeight]="40"
                   [rowHeight]="40"
                   [columnMode]="'force'"
                   [limit]="params.pageSize">
      <ngx-datatable-column name="级别" prop="levelName"></ngx-datatable-column>
      <ngx-datatable-column name="类型" prop="typeName"></ngx-datatable-column>
      <ngx-datatable-column name="名字" prop="name" [width]="150"></ngx-datatable-column>
      <ngx-datatable-column name="描述" prop="description" [width]="250"></ngx-datatable-column>
      <ngx-datatable-column name="告警消息" prop="msg" [width]="300"></ngx-datatable-column>
      <ngx-datatable-column name="是否处理" prop="ackName"></ngx-datatable-column>
      <ngx-datatable-column name="创建时间" prop="createTimeName" [width]="300">
        <!--<ng-template let-row="row" ngx-datatable-cell-template>{{row?.createTime | secondFormat}}</ng-template>-->
      </ngx-datatable-column>
      <ngx-datatable-column name="操作">
        <ng-template let-row="row" ngx-datatable-cell-template>
        <span [matMenuTriggerFor]="menu" style="cursor: pointer">
          <mat-icon class="md-24" style="font-size: 16px;">more_vert</mat-icon>
        </span>
          <mat-menu #menu="matMenu">
            <button mat-menu-item [disabled]="row.ack === 1" (click)="operateHandle(row)">处理</button>
          </mat-menu>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-footer>
        <ng-template ngx-datatable-footer-template>
          <app-pagination [pageParams]="params" [comTotalCount]="totalCount"
                          (limitChange)="getLimit($event)"
                          (pageParamsChange)="reloadAlertInfoCount($event)"></app-pagination>
        </ng-template>
      </ngx-datatable-footer>
    </ngx-datatable>
  </div>
</div>
