<div id="cdrOb-area">
  <app-page-header [title]="'外呼详情统计'"></app-page-header>
  <div *ngIf="1 === 1" class="h-100">
    <div class="row head-search-container">
      <div class="col-3 container-input">
        <dl>
          <dt>客户:</dt>
          <dd>
           <!-- <mat-form-field class="right-input" [floatPlaceholder]="'never'">
              <mat-select [(ngModel)]="paramsApp.accountId" placeholder="请选择" (change)="getAccountApp()">
                <mat-option *ngFor="let item of userIdArr" [value]="item?.id">
                  {{item?.fullName}}
                </mat-option>
              </mat-select>
            </mat-form-field>-->
            <mat-form-field class="right-input" [floatPlaceholder]="'never'">
              <input matInput
                     [(ngModel)]="accountName"
                     [typeahead]="userIdArr"
                     typeaheadOptionField="fullName"
                     (typeaheadOnSelect)="typeaheadOnSelect($event)"
                     (typeaheadOnBlur) = "typeaheadOnBlur($event)"
                     [typeaheadOptionsLimit]="userIdArr.length"
                     [typeaheadMinLength]="0"
                     [typeaheadScrollable]="true"
                     [typeaheadOptionsInScrollableView]="10"
                     placeholder="请选择"
                     class="form-control">
            </mat-form-field>
          </dd>
        </dl>
      </div>
      <div class="col-3 container-input">
        <dl>
          <dt>应用:</dt>
          <dd>
            <mat-form-field class="right-input" [floatPlaceholder]="'never'">
              <mat-select [(ngModel)]="params.appId" placeholder="请选择">
                <mat-option *ngFor="let item of appIdArr" [value]="item?.appId">
                  {{item?.appName}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </dd>
        </dl>
      </div>
      <div class="col-3 container-input">
        <dl>
          <dt>查询时间:</dt>
          <dd  class="range-flatpickr">
            <ng2-flatpickr [config]="searchDayOptions"></ng2-flatpickr>
          </dd>
        </dl>
      </div>
      <div class="col-3">
        <button mat-button class="search-button" (click)="search()">搜索</button>
      </div>
    </div>
    <div class="table-container w-100">
      <ngx-datatable class="material striped"
                     [rows]="cdrDetailCdrOb"
                     [headerHeight]="40"
                     [footerHeight]="40"
                     [rowHeight]="40"
                     [columnMode]="'force'"
                     [scrollbarH]="true"
                     [limit]="params.limit">
        <ngx-datatable-column name="统计时段" [prop]="'timePeriods'"></ngx-datatable-column>
        <ngx-datatable-column name="外呼数" [prop]="'obOffered'"></ngx-datatable-column>
        <ngx-datatable-column name="外呼接通数" [prop]="'obAnswered'" ></ngx-datatable-column>
        <ngx-datatable-column name="外呼接通率" [prop]="'obAnsweredRate'" ></ngx-datatable-column>
        <ngx-datatable-column name="接通平均时长" [prop]="'obAnsweredAvgDuration'" ></ngx-datatable-column>
        <ngx-datatable-column name="转接数" [prop]="'obBridged'"></ngx-datatable-column>
        <ngx-datatable-column name="转接接通数" [prop]="'obBridgedAnswered'"></ngx-datatable-column>
        <ngx-datatable-column name="转接接通率" [prop]="'obBridgedAnsweredRate'"></ngx-datatable-column>
        <ngx-datatable-column name="转接平均时长" [prop]="'obBridgedAnsweredAvgDuration'"></ngx-datatable-column>
        <ngx-datatable-footer>
          <ng-template ngx-datatable-footer-template>
            <app-pagination [pageParams]="params" [comTotalCount]="totalCount"
                            (limitChange)="getLimit($event)"
                            (pageParamsChange)="reloadOperateDailyCount($event)"></app-pagination>
          </ng-template>
        </ngx-datatable-footer>
      </ngx-datatable>
    </div>
  </div>
  <app-loading  *ngIf="isSpinner === 1" [top]="'300px'"></app-loading>
  <app-empty-data *ngIf="isPermission === 0"></app-empty-data>
</div>