<div id="system-preNumberInCostLog-area">
    <app-page-header [title]="'预扣费-应用呼入资费详情'"
                     [rightButtons]="[{ title: '导出'}]"
                     (tapRightBtn)="export()"></app-page-header>
    <div class="h-100 position-relative">
        <div *ngIf="isPermission === 1" class="table-container w-100">
            <ngx-datatable class="material striped"
                           [rows]="sysPreNumberInCostLogData"
                           [headerHeight]="40"
                           [footerHeight]="40"
                           [rowHeight]="40"
                           [columnMode]="'force'"
                           [scrollbarH]="true"
                           [limit]="params.limit">
                <ngx-datatable-column [name]="'呼入号码'" [prop]="'number'"></ngx-datatable-column>
                <ngx-datatable-column [name]="'低消开始月份'" [prop]="'startMonth'"></ngx-datatable-column>
                <ngx-datatable-column [name]="'本月最低消费'" [prop]="'minCost'"></ngx-datatable-column>
                <ngx-datatable-column [name]="'单价'" [prop]="'unitCost'"></ngx-datatable-column>
                <ngx-datatable-column [name]="'呼入分钟数'" [prop]="'duration'"></ngx-datatable-column>
                <ngx-datatable-column [name]="'消费金额'" [prop]="'totalCost'"></ngx-datatable-column>
                <ngx-datatable-column [name]="'实际扣费'" [prop]="'realCost'"></ngx-datatable-column>
                <ngx-datatable-footer>
                    <ng-template ngx-datatable-footer-template>
                        <app-pagination [pageParams]="params" [comTotalCount]="totalCount"
                                        (limitChange)="getLimit($event)"
                                        (pageParamsChange)="reloadPreNumberInCostLogData($event)"></app-pagination>
                    </ng-template>
                </ngx-datatable-footer>
            </ngx-datatable>
            <iframe [src]="downiframe" width="0" height="0" style="display: none;"></iframe>
        </div>
        <app-loading *ngIf="isSpinner === 1" [top]="'258px'"></app-loading>
        <app-empty-data *ngIf="isPermission === 0"></app-empty-data>
    </div>
</div>
