<div id="system-schedule-area">
    <app-page-header [title]="'我的课表'"
                     [rightButtons]="[{ title: '导出课表', action: 'add'}]"
                     (tapRightBtn)="exportSchedule()"
                     [permission]="isStudent"></app-page-header>
    <div class="h-100 position-relative">
        <div *ngIf="isStudent == 1" class="table-container w-100">
            <ngx-datatable class="material striped"
                           [rows]="scheduleListData"
                           [headerHeight]="40"
                           [rowHeight]="40"
                           [columnMode]="'force'"
                           [scrollbarH]="true">
                <ngx-datatable-column [name]="''" [prop]="'cTime'"></ngx-datatable-column>
                <ngx-datatable-column [name]="'星期一'" [prop]="'monday'"></ngx-datatable-column>
                <ngx-datatable-column [name]="'星期二'" [prop]="'tuesday'"></ngx-datatable-column>
                <ngx-datatable-column [name]="'星期三'" [prop]="'wednesday'"></ngx-datatable-column>
                <ngx-datatable-column [name]="'星期四'" [prop]="'thursday'"></ngx-datatable-column>
                <ngx-datatable-column [name]="'星期五'" [prop]="'friday'"></ngx-datatable-column>
            </ngx-datatable>
            <iframe [src]="downiframe" width="0" height="0" style="display: none;"></iframe>
        </div>
        <app-loading *ngIf="isSpinner === 1" [top]="'258px'"></app-loading>
        <app-empty-data *ngIf="isStudent === 0"></app-empty-data>
    </div>
</div>
