<div id="system-enterpriseBasicMessage-area">
    <div>
        <span class="linkSpan" (click)="customerManageTo('/index/customerManage/enterpriseBasicMessage')">企业基本信息</span>
        <span class="linkSpan" (click)="customerManageTo('/index/customerManage/enterpriseFirmMessage')">企业业务信息</span>
        <span class="linkSpan" (click)="customerManageTo('/index/customerManage/enterpriseAppManager')">企业应用管理</span>
    </div>
    <app-page-header [title]="'企业基本信息'"
                     [rightButtons]="[{ title: '修改', action: 'add'}]"
                     (tapRightBtn)="updateEnterpriseBasicMessage()"></app-page-header>
    <div class="h-100 position-relative">
        <div class="row head-search-container">
            <div class="col-6 container-input">
                <dl>
                    <dt>账户全称</dt>
                    <dd>
                        <mat-form-field class="right-input" [floatPlaceholder]="'never'">
                            <input matInput [(ngModel)]="sysEnterpriseBasicMessageData.accountFullName">
                        </mat-form-field>
                    </dd>
                </dl>
            </div>
            <div class="col-6 container-input"></div>
            <div class="col-6 container-input">
                <dl>
                    <dt>企业全称</dt>
                    <dd>
                        <mat-form-field class="right-input" [floatPlaceholder]="'never'">
                            <input matInput [(ngModel)]="sysEnterpriseBasicMessageData.fullName">
                        </mat-form-field>
                    </dd>
                </dl>
            </div>
            <div class="col-6 container-input"></div>
            <div class="col-6 container-input">
                <dl>
                    <dt>法人代表</dt>
                    <dd>
                        <mat-form-field class="right-input" [floatPlaceholder]="'never'">
                            <input matInput [(ngModel)]="sysEnterpriseBasicMessageData.legalPerson">
                        </mat-form-field>
                    </dd>
                </dl>
            </div>
            <div class="col-6 container-input"></div>
            <div class="col-6 container-input">
                <dl>
                    <dt>营业执照号码</dt>
                    <dd>
                        <mat-form-field class="right-input" [floatPlaceholder]="'never'">
                            <input matInput [(ngModel)]="sysEnterpriseBasicMessageData.businessNo">
                        </mat-form-field>
                    </dd>
                </dl>
            </div>
            <div class="col-6 container-input"></div>
            <div class="col-6 container-input">
                <dl>
                    <dt>注册地址</dt>
                    <dd>
                        <mat-form-field class="right-input" [floatPlaceholder]="'never'">
                            <input matInput [(ngModel)]="sysEnterpriseBasicMessageData.registAddress">
                        </mat-form-field>
                    </dd>
                </dl>
            </div>
            <div class="col-6 container-input"></div>
            <div class="col-6 container-input">
                <dl>
                    <dt>营业执照复印件</dt>
                    <dd>
                    </dd>
                </dl>
            </div>
            <div class="col-3 container-input">
                <button mat-button class="search-button" (click)="getFiles()">查看文件</button>
            </div>
        </div>
    </div>
</div>