<div id="system-vlinkApp-area">
  <app-page-header [title]="'应用管理'"></app-page-header>
  <div class="h-100 position-relative">
    <div class="row head-search-container">
      <div class="col-2 container-input">
        <dl>
          <dt>应用ID:</dt>
          <dd>
            <mat-form-field class="right-input" [floatPlaceholder]="'never'">
              <input matInput placeholder="请输入" [(ngModel)]="params.appId">
            </mat-form-field>
          </dd>
        </dl>
      </div>
      <div class="col-2 container-input">
        <dl>
          <dt>应用名称:</dt>
          <dd>
            <mat-form-field class="right-input" [floatPlaceholder]="'never'">
              <input matInput placeholder="请输入" [(ngModel)]="params.appName">
            </mat-form-field>
          </dd>
        </dl>
      </div>
      <div class="col-2 container-input">
        <dl>
          <dt>应用类型:</dt>
          <dd>
            <mat-form-field class="right-input" [floatPlaceholder]="'never'">
              <mat-select [(ngModel)]="params.type" placeholder="请选择">
                <mat-option *ngFor="let item of [{name:'全部'},{name:'语音验证码'},{name:'语音通知'},{name:'总分机'},{name:'双向回呼'},{name:'自定义应用'},{name:'VOS'},{name:'USSD'}]" [value]="item?.name">
                  {{item?.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </dd>
        </dl>
      </div>
      <div class="col-2 container-input">
        <dl>
          <dt>应用状态:</dt>
          <dd>
            <mat-form-field class="right-input" [floatPlaceholder]="'never'">
              <mat-select [(ngModel)]="params.status" placeholder="请选择">
                <mat-option *ngFor="let item of [{name:'全部',value:null},{name:'上线',value:'1'},{name:'测试',value:'2'},{name:'注销',value:'3'},{name:'停机',value:'4'}]" [value]="item?.value">
                  {{item?.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </dd>
        </dl>
      </div>
      <div class="col-2 container-input">
        <dl>
          <dt>安全等级:</dt>
          <dd>
            <mat-form-field class="right-input" [floatPlaceholder]="'never'">
              <mat-select [(ngModel)]="params.safetyLevel" placeholder="请选择">
                <mat-option *ngFor="let item of [{name:'全部',value:null},{name:'安全',value:'1'},{name:'一般',value:'2'},{name:'危险',value:'3'}]" [value]="item?.value">
                  {{item?.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </dd>
        </dl>
      </div>
      <div class="col-4 container-input">
        <dl>
          <dt>创建时间:</dt>
          <dd  class="range-flatpickr">
            <ng2-flatpickr [config]="createTimeLeft"></ng2-flatpickr>
            至
            <ng2-flatpickr [config]="createTimeRight"></ng2-flatpickr>
          </dd>
        </dl>
      </div>
      <div class="col-4 container-input">
        <dl>
          <dt>上线时间:</dt>
          <dd  class="range-flatpickr">
            <ng2-flatpickr [config]="uptimeLeft"></ng2-flatpickr>
            至
            <ng2-flatpickr [config]="uptimeRight"></ng2-flatpickr>
          </dd>
        </dl>
      </div>
      <div class="col-2 container-input">
        <dl>
          <dt>合同状态:</dt>
          <dd>
            <mat-form-field class="right-input" [floatPlaceholder]="'never'">
              <mat-select [(ngModel)]="params.contractFlag" placeholder="请选择">
                <mat-option *ngFor="let item of [{name:'全部',value:null},{name:'已上传',value:'1'},{name:'未上传',value:'0'}]" [value]="item?.value">
                  {{item?.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </dd>
        </dl>
      </div>
      <div class="col-2">
        <button mat-button class="search-button" (click)="search()">搜索</button>
      </div>
    </div>
    <div *ngIf="isPermission === 1" class="pt-5 table-container w-100">
      <ngx-datatable class="material striped"
                     [rows]="sysVlinkAppData"
                     [headerHeight]="40"
                     [footerHeight]="40"
                     [rowHeight]="40"
                     [columnMode]="'force'"
                     [scrollbarH]="true"
                     [limit]="params.limit">
        <ngx-datatable-column [name]="'应用ID'" [prop]="'appId'" ></ngx-datatable-column>
        <ngx-datatable-column [name]="'企业简称'" [prop]="'vlinkAccountShortName'"></ngx-datatable-column>
        <ngx-datatable-column [name]="'应用名称'" [prop]="'appName'" ></ngx-datatable-column>
        <ngx-datatable-column [name]="'应用类型'" [prop]="'type'" ></ngx-datatable-column>
        <ngx-datatable-column [name]="'应用状态'" [prop]="'statusDesc'" ></ngx-datatable-column>
        <ngx-datatable-column [name]="'安全等级'" [prop]="'safetyLevelDesc'" ></ngx-datatable-column>
        <ngx-datatable-column [name]="'创建时间'" [prop]="'createTime'" >
          <ng-template let-row="row" ngx-datatable-cell-template>{{row?.createTime | dateFormat:'YYYY-MM-DD HH:mm:ss'}}</ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column [name]="'上线时间'" [prop]="'uptime'" >
          <ng-template let-row="row" ngx-datatable-cell-template>{{row?.uptime | dateFormat:'YYYY-MM-DD HH:mm:ss'}}</ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column [name]="'合同状态'" [prop]="'contractCountDesc'" ></ngx-datatable-column>
        <ngx-datatable-column [name]="'低消'" [prop]="'minCost'" ></ngx-datatable-column>
        <ngx-datatable-footer>
          <ng-template ngx-datatable-footer-template>
            <app-pagination [pageParams]="params" [comTotalCount]="totalCount"
                            (limitChange)="getLimit($event)"
                            (pageParamsChange)="reloadVlinAppData($event)"></app-pagination>
          </ng-template>
        </ngx-datatable-footer>
      </ngx-datatable>
    </div>
    <app-loading  *ngIf="isSpinner === 1" [top]="'258px'"></app-loading>
    <app-empty-data *ngIf="isPermission === 0"></app-empty-data>
  </div>
</div>
