/*
 * Common header classes & IDs  Do not remove this
 */
@import "../../../assets/less/mixin.less";
@import "../../../assets/less/variables";

#header {
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  .head-content {
    height: @header-height;
    padding: 0 10px;
    line-height: 50px;
    background: rgb(55, 61, 65);
  }
  .organ-name {
    color: #fff;
    font-size: 1.7rem;
    margin: 0 10px;
    text-shadow: 1px 1px rgba(0, 0, 0, .1);
  }
  .logo-header {
    width: 30px;
    vertical-align: -10px;
  }
  .right-buttons {
    float: right;
    button {
      margin-left: 10px;
      .mat-icon {
        color: #fff;
        font-size: 1.9rem;
      }
    }
    .username {
      display: inline-block;
      height: 40px;
      line-height: 40px;
      font-size: 1.4rem;
      color: #fff;
    }
  }
}
