/*
 * Common header classes & IDs
 * Do not remove this
 */
/*
 * CSS Transform - Scale and Rotate
 */
/*
 * Pop-in Hover effects
 */
/*
 * Scale 3d
 */
/*
 * Material Colors
 */
/* Bootstrap Branding */
/*
 * Colors
 */
/*
 * Blocks
 */
/*
 * Font Icon Family
 */
#header {
  z-index: 999;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
}
#header .head-content {
  height: 50px;
  padding: 0 10px;
  line-height: 50px;
  background: #373d41;
}
#header .organ-name {
  color: #fff;
  font-size: 1.7rem;
  margin: 0 10px;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.1);
}
#header .organ-menu-button {
  padding: 0 50px;
}
#header .logo-header {
  width: 30px;
  vertical-align: -10px;
}
#header .right-buttons {
  float: right;
}
#header .right-buttons button {
  margin-left: 10px;
}
#header .right-buttons .mat-icon-button:hover {
  background: transparent;
}
/*
 * Material Background Colors
 */
.bgm-blue {
  background-color: #2196f3 !important;
}
.bgm-sky {
  background-color: #2196f3 !important;
}
.bgm-purple {
  background-color: #9c27b0 !important;
}
.bgm-theme1 {
  background-color: #9c27b0 !important;
}
.bgm-sea {
  background-color: #00bcd4 !important;
}
.bgm-cyan {
  background-color: #00bcd4 !important;
}
.c-cyan {
  color: #00bcd4 !important;
}
.bgm-teal {
  background-color: #009688 !important;
}
.bgm-theme2 {
  background-color: #009688 !important;
}
.bgm-default {
  background-color: #26303B !important;
}
.c-default {
  color: #26303B !important;
}
.bgm-orange {
  background-color: #ff9800 !important;
}
.bgm-theme3 {
  background-color: #ff9800 !important;
}
.skin-switch {
  padding: 10px 0 0 0;
  text-align: center;
}
.logo {
  height: 30px !important;
  line-height: 30px;
  font-size: 3rem !important;
  margin-right: 15px;
}
.ss-skin {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  cursor: pointer;
  display: inline-block;
  margin: 2px 5px;
}
.ss-skin:hover {
  -webkit-opacity: 0.8;
  -khtml-opacity: 0.8;
  -moz-opacity: 0.8;
  opacity: 0.8;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=80);
  filter: alpha(opacity=80);
}
.status {
  float: right;
  font-size: 1.2rem;
  margin-left: 30px;
  color: #ff9800;
}
.dropdown-toggle::after {
  border: none;
  margin: 0;
}
.dropdown-menu {
  left: 70px;
  top: 50px;
  min-width: 12rem;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
  border: none;
  border-radius: 0;
}
.dropdown-item.active,
.dropdown-item:active {
  background-color: #eee;
  color: #000;
}
.divider {
  height: 1px;
  margin: 0;
  overflow: hidden;
  background-color: #e5e5e5;
}
.fill-remaining {
  flex: 1 1 auto;
}
.username {
  display: inline-block;
  height: 40px;
  line-height: 40px;
  font-size: 1.4rem;
  color: #fff;
}
.set {
  cursor: pointer;
  margin-right: 20px;
  display: inline-block;
  height: 40px;
  line-height: 40px;
  font-size: 1.4rem;
  color: #fff;
}
.right-buttons .mat-icon {
  color: #fff;
  font-size: 1.9rem;
}
.tsw-inner {
  position: relative;
  padding: 15px;
  max-width: 700px;
  display: block;
  margin: 0 auto;
}
