<div class="redefine-dialog">
    <h1 class="dialog-head mb-0">中继组下所有已配置的网关</h1>
    <mat-icon class="add-icon" (click)="addDeployNet()">add</mat-icon>
    <!--<div>-->
    <div class="row head-search-container">
      <div class="col-3 container-input">
        <dl>
          <dt>网关名:</dt>
          <dd>
            <mat-form-field class="right-input" floatPlaceholder="never">
              <input matInput [(ngModel)]="params.name">
            </mat-form-field>
          </dd>
        </dl>
      </div>
      <div class="col-3 container-input">
        <dl>
          <dt>IP地址:</dt>
          <dd>
            <mat-form-field class="right-input" floatPlaceholder="never">
              <input matInput [(ngModel)]="params.ip">
            </mat-form-field>
          </dd>
        </dl>
      </div>
      <div class="col-6 text-right">
        <button mat-button class="search-button" (click)="reloadDeployNetCount()">搜索</button>
      </div>
    </div>
    <ngx-datatable class="material striped"
                   *ngIf="isPermission === 1"
                   [loadingIndicator]="loadingIndicator"
                   [rows]="deployGateway"
                   [headerHeight]="40"
                   [footerHeight]="40"
                   [rowHeight]="40"
                   [columnMode]="'force'"
                   [scrollbarH]="true"
                   [limit]="params.pageSize">
      <ngx-datatable-column [name]="'网关ID'" [prop]="'id'"></ngx-datatable-column>
      <ngx-datatable-column [name]="'网关名称'" [prop]="'name'" [width]="150"></ngx-datatable-column>
      <ngx-datatable-column [name]="'ip地址'" [prop]="'ip'"></ngx-datatable-column>
      <ngx-datatable-column [name]="'是否激活'" [prop]="'activeName'"></ngx-datatable-column>
      <ngx-datatable-column [name]="'所在地区号'" [prop]="'areacode'"></ngx-datatable-column>
      <ngx-datatable-column [name]="'容忍的CPS'" [prop]="'maxCps'"></ngx-datatable-column>
      <ngx-datatable-column [name]="'sip端口号'" [prop]="'port'"></ngx-datatable-column>
      <ngx-datatable-column [name]="'监控状态'" [prop]="'statusName'"></ngx-datatable-column>
      <ngx-datatable-column [name]="'权重'" [prop]="'weight'"></ngx-datatable-column>
      <ngx-datatable-column [name]="'最大并发数'" [prop]="'maxCalls'"></ngx-datatable-column>
      <ngx-datatable-column [name]="'描述'" [prop]="'description'" [width]="150"></ngx-datatable-column>
      <ngx-datatable-column [name]="'创建时间'" [width]="180">
        <ng-template let-row="row" ngx-datatable-cell-template>{{row?.createTime | dateFormat:'YYYY-MM-DD HH:mm:ss'}}</ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column [name]="'操作'">
        <ng-template let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
          <!--<mat-icon style="color: #999;cursor: pointer" (click)="operateButton(row, rowIndex)">delete_forever</mat-icon>-->
          <span [matMenuTriggerFor]="menu" style="cursor: pointer">
                  <mat-icon class="md-24" style="font-size: 16px;">more_vert</mat-icon>
                </span>
          <mat-menu #menu="matMenu">
            <button mat-menu-item *ngFor="let item of [{value:'edit',name:'编辑'}, {value:'delete',name:'删除'}]"
                    [value]="item.value" (click)="operateButton(item.value,row,rowIndex)">{{item.name}}</button>
          </mat-menu>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-footer>
        <ng-template ngx-datatable-footer-template>
          <app-pagination [pageParams]="params" [comTotalCount]="totalCount"
                          (limitChange)="getLimit($event)"
                          (pageParamsChange)="reloadDeployNetCount($event)"></app-pagination>
        </ng-template>
      </ngx-datatable-footer>
    </ngx-datatable>
    <app-empty-data *ngIf="isPermission === 0"></app-empty-data>
</div>
