<div id="system-accountPsw-area">
    <app-page-header [title]="'修改密码'"
                     [rightButtons]="[{ title: '修改'}]"
                     (tapRightBtn)="updatePsw()"></app-page-header>
    <div class="h-100 position-relative">
        <div class="row head-search-container">
            <div class="col-6 container-input">
                <dl>
                    <dt>旧密码</dt>
                    <dd>
                        <mat-form-field class="right-input" [floatPlaceholder]="'never'">
                            <input matInput [(ngModel)]="validationParams.oldPsw" (keyup)="validationAuthCode(0)">
                        </mat-form-field>
                    </dd>
                </dl>
            </div>
            <div *ngIf="!(validationParams.oldPsw)" class="help alert alert-danger">
                请输入旧密码！
            </div>
            <div *ngIf="(validationParams.oldPsw != oldPsw)" class="help alert alert-danger">
                旧密码错误！
            </div>
            <div class="col-6 container-input"></div>
            <div class="col-6 container-input">
                <dl>
                    <dt>新密码</dt>
                    <dd>
                        <mat-form-field class="right-input" [floatPlaceholder]="'never'">
                            <input matInput [(ngModel)]="params.authCode">
                        </mat-form-field>
                    </dd>
                </dl>
            </div>
            <div *ngIf="!(params.authCode)" class="help alert alert-danger">
                请输入新密码！
            </div>
            <div class="col-6 container-input"></div>
            <div class="col-6 container-input">
                <dl>
                    <dt>确认密码</dt>
                    <dd>
                        <mat-form-field class="right-input" [floatPlaceholder]="'never'">
                            <input matInput [(ngModel)]="validationParams.authCode">
                        </mat-form-field>
                    </dd>
                </dl>
            </div>
            <div *ngIf="(validationParams.authCode != params.authCode)" class="help alert alert-danger">
                两次密码不一致！
            </div>
        </div>
    </div>
</div>
